/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * futura-pt:
 *   - http://typekit.com/eulas/00000000000000000001008f
 *   - http://typekit.com/eulas/000000000000000000013365
 * minion-pro:
 *   - http://typekit.com/eulas/0000000000000000000151d1
 *   - http://typekit.com/eulas/0000000000000000000151d2
 *   - http://typekit.com/eulas/0000000000000000000151d3
 *   - http://typekit.com/eulas/0000000000000000000151d6
 *   - http://typekit.com/eulas/0000000000000000000151d7
 *   - http://typekit.com/eulas/0000000000000000000151d8
 * p22-underground:
 *   - http://typekit.com/eulas/00000000000000000000de3b
 *   - http://typekit.com/eulas/00000000000000000000de3c
 *   - http://typekit.com/eulas/00000000000000000000de3d
 * tablet-gothic-condensed:
 *   - http://typekit.com/eulas/000000000000000000014393
 *   - http://typekit.com/eulas/000000000000000000014391
 *
 * © 2009-2020 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2018-01-03 00:09:44 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=vvy4byc&ht=tk&f=5624.5625.5626.10879.10884.17037.17042.6812.6813.6814.6817.6818.6819&a=219829&app=typekit&e=css");

@font-face {
font-family:"p22-underground";
src:url("https://use.typekit.net/af/ad8f50/00000000000000000000de3b/27/l?subset_id=2&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/ad8f50/00000000000000000000de3b/27/d?subset_id=2&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/ad8f50/00000000000000000000de3b/27/a?subset_id=2&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"p22-underground";
src:url("https://use.typekit.net/af/4a044b/00000000000000000000de3c/27/l?subset_id=2&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/4a044b/00000000000000000000de3c/27/d?subset_id=2&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/4a044b/00000000000000000000de3c/27/a?subset_id=2&fvd=n5&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;
}

@font-face {
font-family:"p22-underground";
src:url("https://use.typekit.net/af/54c493/00000000000000000000de3d/27/l?subset_id=2&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/54c493/00000000000000000000de3d/27/d?subset_id=2&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/54c493/00000000000000000000de3d/27/a?subset_id=2&fvd=n6&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:600;
}

@font-face {
font-family:"futura-pt";
src:url("https://use.typekit.net/af/2cd6bf/00000000000000000001008f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/2cd6bf/00000000000000000001008f/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/2cd6bf/00000000000000000001008f/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;
}

@font-face {
font-family:"futura-pt";
src:url("https://use.typekit.net/af/9b05f3/000000000000000000013365/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/9b05f3/000000000000000000013365/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/9b05f3/000000000000000000013365/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"tablet-gothic-condensed";
src:url("https://use.typekit.net/af/a57269/000000000000000000014393/27/l?subset_id=2&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/a57269/000000000000000000014393/27/d?subset_id=2&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/a57269/000000000000000000014393/27/a?subset_id=2&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"tablet-gothic-condensed";
src:url("https://use.typekit.net/af/011086/000000000000000000014391/27/l?subset_id=2&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/011086/000000000000000000014391/27/d?subset_id=2&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/011086/000000000000000000014391/27/a?subset_id=2&fvd=n6&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:600;
}

@font-face {
font-family:"minion-pro";
src:url("https://use.typekit.net/af/ea8d85/0000000000000000000151d1/27/l?subset_id=2&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/ea8d85/0000000000000000000151d1/27/d?subset_id=2&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/ea8d85/0000000000000000000151d1/27/a?subset_id=2&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"minion-pro";
src:url("https://use.typekit.net/af/bc1d75/0000000000000000000151d2/27/l?subset_id=2&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/bc1d75/0000000000000000000151d2/27/d?subset_id=2&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/bc1d75/0000000000000000000151d2/27/a?subset_id=2&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;
}

@font-face {
font-family:"minion-pro";
src:url("https://use.typekit.net/af/5033af/0000000000000000000151d3/27/l?subset_id=2&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/5033af/0000000000000000000151d3/27/d?subset_id=2&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/5033af/0000000000000000000151d3/27/a?subset_id=2&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;
}

@font-face {
font-family:"minion-pro";
src:url("https://use.typekit.net/af/1286c7/0000000000000000000151d6/27/l?subset_id=2&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/1286c7/0000000000000000000151d6/27/d?subset_id=2&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/1286c7/0000000000000000000151d6/27/a?subset_id=2&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"minion-pro";
src:url("https://use.typekit.net/af/acb0f1/0000000000000000000151d7/27/l?subset_id=2&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/acb0f1/0000000000000000000151d7/27/d?subset_id=2&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/acb0f1/0000000000000000000151d7/27/a?subset_id=2&fvd=n6&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:600;
}

@font-face {
font-family:"minion-pro";
src:url("https://use.typekit.net/af/0bde87/0000000000000000000151d8/27/l?subset_id=2&fvd=i6&v=3") format("woff2"),url("https://use.typekit.net/af/0bde87/0000000000000000000151d8/27/d?subset_id=2&fvd=i6&v=3") format("woff"),url("https://use.typekit.net/af/0bde87/0000000000000000000151d8/27/a?subset_id=2&fvd=i6&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:600;
}

.tk-p22-underground { font-family: "p22-underground",sans-serif; }
.tk-futura-pt { font-family: "futura-pt",sans-serif; }
.tk-tablet-gothic-condensed { font-family: "tablet-gothic-condensed",sans-serif; }
.tk-minion-pro { font-family: "minion-pro",serif; }
