@font-face {
    font-family: 'GyeonggiBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
            

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'GyeonggiBatang', 'Nunito', sans-serif;
    font-weight: 200;
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}
a, a:hover {
    text-decoration: none;
    color: #777;
    cursor: pointer;
}

ol, ul {
    list-style: none;
}

.header {
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background: #fff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    z-index: 700;
    transition: all 300ms;
}

.intro {
    z-index: 0;
    /* position: fixed; */
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0; 
    transition: all 1.5s .25s;
}

.intro .intro_slide {
    height: calc(100% - 76px);
    padding: 50px 26px 26px;
    transition: opacity 1.5s .25s, -webkit-transform 1.5s .25s;
    transition: opacity 1.5s .25s, transform 1.5s .25s;
}

.intro .intro_slide .intro_slide_img {
    height: 100%;
    width: 100%;
    background: center center / cover no-repeat;
    background-image: url('https://www.doongdoong.org/uploads/thumbs/1593343384.jpeg');
}

.intro .intro_slide .intro_slide_btn {
    filter: drop-shadow(2px 4px 6px black);
    -webkit-filter: drop-shadow(2px 4px 6px black);
}


.intro .intro_slide .intro_slide_img .prev_btn {
    top: calc(50% - 50px);
    text-align: left;
    width: 40px;
    position: absolute;
    left: 50px;
}
.intro .intro_slide .intro_slide_img .next_btn {
    top: calc(50% - 50px);
    text-align: right;
    width: 40px;
    position: absolute;
    right: 50px;
}
.intro .intro_slide .intro_slide_img .down_btn {
    position: relative;
    margin: 0 auto;
    top: calc(100% - 80px);
    text-align: center;
    width: 100px;
}
.intro .intro_slide .intro_slide_img .prev_btn img,
.intro .intro_slide .intro_slide_img .next_btn img {
    height: 50px;
    transform: scale(0.9);
    transition: all 300ms;
}
.intro .intro_slide .intro_slide_img .prev_btn img:hover,
.intro .intro_slide .intro_slide_img .next_btn img:hover {
    transform: scale(1);
}
.intro .intro_slide .intro_slide_img .down_btn img {
    width: 80px;
    transition: all 300ms;
}
.intro .intro_slide .intro_slide_img .down_btn img:hover {
    /* position: relative;
    top: 10px; */
    transform: translate(0, 10px);
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}


.links > a {
    color: #777;
    padding: 0 25px;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.title a {
    font-size: 1.8rem;
    font-family: 'GyeonggiBatang';
    color: #333;
}

.title_super {
    padding-top: 5px;
}

.title>.home-btn {
    padding-top: 10px;
}

.header-margin {
    width: 90%;
    max-width: 1120px;
    height: 50px;
    margin: 0 auto;
}

.actions {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    /* justify-content: flex-end; */
    position: absolute;
    height: 50px;
    z-index: 1;
}

.actions .menu {
    text-align: center;
    width: 24px;
    vertical-align: 0;
}

.actions .x .line {
    background: #777;
    display: block;
    height: 3px;
    margin: 4px 0;
    position: relative;
    transition: all .5s;
    width: 100%;
}

.actions .x.active .top {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 7px;
}
.actions .x.active .middle {
    opacity: 0;
}
.actions .x.active .bottom {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: -7px;
}

.nav {
    padding: 8% 0;
    position: absolute;
    opacity: 0;
    text-align: center;
    width: 100%;
    z-index: 550;
    visibility: hidden;
    transition: all .5s;
}
.overlay {
    background: #fff;
    background: rgba(255,255,255,.95);
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%;
    visibility: hidden;
    z-index: 500;
    transition: all .5s;
}
.nav.fixed {
    position: fixed;
    width: 100%;
}

.nav.active,
.overlay.active {
    opacity: 1;
    visibility: visible;
    transition: all .5s;
}

.nav .nav_group {
    padding: 0;
}

.nav .nav_group li {
    display: block;
    margin: 50px 0;
}

.nav .nav_group li mark {
    color: #c28c29;
    background: none;
    font-style: italic;
    font-weight: 600;
}

.nav .nav_group li a {
    color: #c5c5c5;
    display: block;
    /* font-family: "Nunito",sans-serif; */
    font-size: 2.6rem;
    font-weight: 800;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 300ms ease;
}

.nav .nav_group li a:hover {
    color: #333;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
    width: 90%;
}
.group:before, .group:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}
.tagline {
    background: #fff;
    padding: 75px 0;
    position: relative;
    z-index: 5;
}
.tagline .container {
    position: relative;
}
.tagline .col-1 {
    bottom: 0;
    left: 0;
    position: absolute;
}
.tagline .col-2 {
    float: right;
    width: 48%;
}
em {
    font-style: normal;
}
.tagline h1 em {
    font-weight: 400;
}
.tagline h1 {
    font-size: 36px;
    font-weight: 800;
}
.tagline h2 {
    font-family: "p22-underground",sans-serif;
    font-size: 12px;
    font-weight: 800;
    margin: 0 0 5px 0;
    text-transform: uppercase;
}
.tagline p {
    font-size: 18px;
    line-height: 1.4;
}
/*main*/
.front_main {
    background: #f1f1f1;;
    position: relative;
}
.main {
    background: #edecec;
    padding: 50px 0;
}
.main .container .container_header {
    text-align: center;
}
.main .container .container_header img {
    width: 200px;
}
.main .container .container_header h1 {
    margin-top: 10px;
}


/*footer*/
.footer {
    background: #E5E5E5;
    padding: 50px 0 125px 0;
    position: relative;
    z-index: 10;
}
.footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.footer .container .column {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
}
.footer .container .column p { 
    font-family: "p22-underground",sans-serif;
    font-weight: 600;
    font-size: 12px;
    margin: 0 0 8px 0;
}
.footer .container .column p.copyright { 
    font-family: "minion-pro",serif;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
}