html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}
a, a:hover {
    text-decoration: none;
    color: #777;
    transition: color .4s,background .4s,border-color .4s;
}
.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.header {
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
    background: #fff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    /* font-size: 13px;
    font-weight: 600; */
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.title {
    /* font-size: 84px; */
    font-size: 1.8rem;
    font-family: '경기천년바탕';
    /* color: #777; */
}

.title>.home-btn {
    padding-top: 10px;
}

.header-margin {
    /* margin-bottom: 30px; */
    width: 90%;
    height: 50px;
    margin: 0 auto;
    /* margin-top: 10px; */
}

.actions {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    /* justify-content: flex-end; */
    position: absolute;
    height: 50px;
    z-index: 1;
}

.actions .menu {
    text-align: center;
    width: 24px;
    vertical-align: 0;
}

.actions .x .line {
    background: #1a1a1a;
    display: block;
    height: 3px;
    margin: 4px 0;
    position: relative;
    transition: all .5s;
    width: 100%;
}